@charset "UTF-8";
* {margin: 0; padding: 0; box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif;}
ul,li,ol {list-style: none; margin:0; padding:0;}
a {text-decoration: none;}
.btn_main {width: 130px; line-height: 36px; margin-right: 10px; padding: 0; background-color: #444; color: #fff; border: 1px solid #444; font-size: 16px; text-align: center; cursor: pointer; transition: all 0.3s;}
.btn_main:hover {background-color: #fff; color: #444; border: 1px solid #444;}
.btn_sub {width: 130px; line-height: 36px; margin-right: 10px; padding: 0; background-color: #444; color: #fff; border: 1px solid #444; font-size: 16px; text-align: center; cursor: pointer; transition: all 0.3s;}
.btn_sub:hover {background-color: #fff; color: #444; border: 1px solid #444;}

body {width: 100%; height: 100vh; -scroll:0; overflow-x: hidden; background: #fff;}
body::-webkit-scrollbar { width: 8px; height: 15px; background: #fff; }
body::-webkit-scrollbar-thumb { border-radius: 10px; background-color: #fbb03b;}
body::-webkit-scrollbar-track { background: #ffffff; }

/* right icon menu */
#menu {width:70px; height:300px; position:fixed; z-index: 5; right:0; top:50%; transform: translateY(-50%); display: flex; flex-wrap: wrap; align-content: space-between;}
#menu > li {width: 70px; height: 52px; display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative; background-color: #444; color: #999; border-radius: 10px 0 0 10px; font-size: 10px; font-weight: 300; cursor: pointer;}
#menu > li a {font-size: 20px; color: #fbb03b; transition: all 0.25s;}
#menu > li:hover a {color: #fff;}

/* main start */
#fullpage {margin: 0; padding: 0; position: relative;}

/* section 1 : home */
#fullpage > .section-01 {width: 100%; margin:0 auto; overflow: hidden; position: relative; background-color: #00041b;}

/* 포트폴리오 레이아웃*/
.bodywrap {width:1340px; height:100%; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;}
.introduce {width: 40%; height: 700px; display: flex; flex-flow: row wrap; justify-content: flex-start; align-content: space-between;}
.webpage {width: 60%; height: 100%; overflow: hidden; position: relative;}
.webpage img {width: 100%; height: auto;}

.bodywrap h1 {width: 100%; font-size: 44px; font-weight: 400; margin-bottom: 50px; color: #444; letter-spacing: -0.5px;}
.bodywrap h1 em {font-style: normal; font-weight: 900;}
.bodywrap h4 {width: 100%; font-size: 18px; font-weight: 400; color: #444; margin-bottom: 50px;}
.bodywrap h5 {width: 100%; font-size: 16px; font-weight: 700; color: #444; letter-spacing: 0.5px; line-height: 10px;}
.bodywrap p {width: 100%; height: 320px; font-size: 14px; font-weight: 300; color: #444; line-height: 160%;}

/* web 슬라이드*/
.webpage .bhoverbox {width: 100%; height: 100%; cursor: pointer; position: absolute; z-index: 2; top:0; transition: 0.3s ease-in-out; display: flex; justify-content: center; align-items: center;}
.webpage .bhoverbox > i {width: 34px; line-height: 30px; font-size:20px; color: #fbb03b; border: 2px solid #fbb03b; border-radius: 500px; text-align: center; display: none;}
.webpage .bhoverbox:hover {background-color: rgba(0,0,0,0.3)}
.webpage .bhoverbox:hover > i {display: block;}

.section-01 #home_grid {width: 100%; height: 100%; position: relative;}

#about {position: absolute; top: 5%; left: 5%; height: 90%; display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start;}
#about h3 {color: #fbb03b; font-size: 16px; font-weight: 300;}
#about h3 em {font-style: normal; font-weight: 600;}

.about_icon > li {background-color: #fbb03b; border-radius: 100px; cursor: pointer; position: relative; text-align: center; margin-bottom: 8px; z-index: 3;}
.about_icon > li a {width: 40px; height: 40px; display: flex; justify-content: center; align-items: center; color: #333; font-size: 22px; transition: all 0.3s; }
.about_icon > li:hover a {color: #fff;}

.burble {display: none;}
.burble li {position: absolute; top: 10px; left: 120px; transform: translateX(-50%); width: 140px; background-color: #fbb03b; color: #333; font-size: 12px; font-weight: 400; text-align: center; line-height: 20px; border-radius: 100px;}

/* Typing */
.typingbox {width: 70%; text-align: center; position: absolute; top: 47%; left: 50%; transform: translateY(-50%) translateX(-50%);}
.typingbox h1:nth-of-type(1) {font-size:135px;}
.typingbox h1:nth-of-type(2) {font-size:130px;}
.typingbox h1:nth-of-type(1) {position:relative; top:0; left:28.5%; transform:translateX(-50%); background: #ffffff; color: transparent; -webkit-background-clip: text; font-family:"Press Start 2P"; margin-bottom: -25px;}
.typingbox h1:nth-of-type(2) {position:relative; top:0; left:55%; transform:translateX(-50%); background: #ffffff; color: transparent; -webkit-background-clip: text; font-family:"Press Start 2P"}

.typing-txt{display: none;}
.typeing-txt ul{list-style:none;}
.typing {position:absolute; left:20%; display: inline-block; animation-name: cursor; animation-duration: 0.3s; animation-iteration-count: infinite; font-size: 19px; font-weight: 400; color: #fbb03b;}

/* section 2 : 프로젝트1 */
#fullpage > .section-02 {width: 100%; height: 100%; background-color: rgb(230,233,246,0.7);}
.section-02 h2 {width: 100%; font-size: 26px; font-weight: 900; color: #353f67; letter-spacing: 0.5px;}
.section-02 .color {width: 100%; height: 80px; display: flex; flex-flow: row wrap; justify-content: flex-start; align-items: center; margin-bottom: 40px;}
.section-02 .color li {width:40px; height:40px; border-radius:50%; margin-right: 10px;}
.section-02 .color li:first-of-type {background-color: #353f67;}
.section-02 .color li:nth-of-type(2) {background-color: #5e6b9e;}
.section-02 .color li:last-of-type {background-color: #c0c7ed;}

/* section 3 : 프로젝트2 */
#fullpage > .section-03 {width: 100%; margin: 0 auto; background-color: rgb(91,36,161,0.1);}
.section-03 h2 {width: 100%; font-size: 26px; font-weight: 900; color: #5b24a1; letter-spacing: 0.5px;}
.section-03 .color {width: 100%; height: 80px; display: flex; flex-flow: row wrap; justify-content: flex-start; align-items: center; margin-bottom: 40px;}
.section-03 .color li {width:40px; height:40px; border-radius:50%; margin-right: 10px;}
.section-03 .color li:first-of-type {background-color: #5b24a1;}
.section-03 .color li:nth-of-type(2) {background-color: hotpink;}
.section-03 .color li:last-of-type {background-color: #000000;}

.section-03 .pofomobile {width: 235px; height: 520px; position: absolute; bottom: 5%; left: 44%; display: block; transform: translateX(-50%); z-index:5; background-image: url(../img/mobile-01.png); background-size: 100% 100%;}
.section-03 .pofomobile_box {width: 225px; height: 510px; position: absolute; top: 50%; left: 50.6%; transform: translate(-50%,-50%); border-radius: 28px; overflow: hidden;}
.section-03 .pofomobile_box ul li {width: 225px; height: 510px;}
.section-03 .pofomobile_box ul li img {width: 100%; height: 510px;}

/* section 4 : 프로젝트3 */
#fullpage > .section-04 {width: 100%; margin: 0 auto; background-color: #eee;}
.section-04 h2 {width: 100%; font-size: 26px; font-weight: 900; color: #c2a78a; letter-spacing: 0.5px;}
.section-04 .color {width: 100%; height: 80px; display: flex; flex-flow: row wrap; justify-content: flex-start; align-items: center; margin-bottom: 40px;}
.section-04 .color li {width:40px; height:40px; border-radius:50%; margin-right: 10px;}
.section-04 .color li:first-of-type {background-color: #c2a78a;}
.section-04 .color li:nth-of-type(2) {background-color: #555555;}
.section-04 .color li:last-of-type {background-color: #a1a1a1;}

/* section 5 : About Me */
#fullpage > .section-05 {width: 100%; margin: 0 auto; position: relative; background-color: #00041b;}
.section-05 .profile_wrap {width: 1340px; height: 100%; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;}

/*이력서*/
.section-05 .profile {width: 360px; height: 100%; display: flex; justify-content: center; align-items: center; background-color: #25293d;}
.section-05 .myphoto {width: 280px; height: 650px; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;}

.section-05 .profileimg {width: 220px; z-index: 5;}
.section-05 .profileimg img {width: 100%;}

.section-05 .profiletxt h3 {font-size: 22px; font-weight: 400; line-height: 120%; color: #fbb03b;}
.section-05 .profiletxt h3 em {font-size: 15px; font-weight: 300; font-style: normal;}
.section-05 .profiletxt table {font-size: 13px; text-align: left; letter-spacing: 0.5px; line-height: 180%; margin-bottom: 90px; color: #fff;}
.section-05 .profiletxt table th {width: 75px; vertical-align: top; font-weight: 400;}
.section-05 .profiletxt table td {font-weight: 200;}
.section-05 .profiletxt h5 {font-size: 13px; font-weight: 300; color:  #fbb03b;}
.section-05 .profiletxt h5 em {font-weight: 600; font-style: normal;}
.section-05 .profiletxt p {font-size: 12px; font-weight: 200; color: #aaa; letter-spacing: -0.5px;}

.section-05 .container {
  width: 70%;
  background-color: #fff;
  border-radius: 10px;
}

.section-05 .skills {
  text-align: right;
  padding-top: 1px;
  padding-bottom: 1px;
  color: #2196F3;
  margin-bottom: 10px;  
}

.section-05 .html {width: 85%; background-color: #2196F3;}
.section-05 .js {width: 60%; background-color: #2196F3;}
.section-05 .jq {width: 65%; background-color: #2196F3;}
.section-05 .json {width: 55%; background-color: #2196F3;}
.section-05 .oa {width: 60%; background-color: #2196F3;}

.info {width:50%; height:650px; display: flex; flex-direction: column; justify-content: space-evenly; padding-top: 15px;}
.info p {font-size: 13px; color:#ddd}
.info > div {width:100%; height:auto;}
.info > div > h4 {font-size: 20px; color:  #fbb03b; font-family:"Press Start 2P"}
.info > div table {margin-top:10px; line-height: 20px;}
.info > div table th {font-size: 13px; color:#bbb; line-height: 20px; text-align: left; font-weight: 500;}
.info > div table td {font-size: 13px; color:#ddd;}
.profile_font {font-family: 'Italianno', cursive; font-size:100px;}

.metxt {font-size: 110px; color:rgba(0, 0, 0, 0.281); position: absolute; top:8%; left: 15%; letter-spacing: -2px; font-family: 'Josefin Slab';}

/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1;
}

/* ---- stats.js ---- */

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}